<!DOCTYPE html>
<html>
<head>
  <title>Giftz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user.nil? %>
  <%= link_to "Login", user_omniauth_authorize_url(provider: :facebook) %>
<% else %>
  <img src="<%= current_user.image %>" /><%= current_user.name %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% end %>

<%= yield %>

</body>
</html>
